<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Lazy Load Angular CLI</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About (lazy)</a></li>
        <li><a routerLink="/test1" routerLinkActive="active">Test1 (lazy)</a></li>
        <li><a routerLink="/test2" routerLinkActive="active">Test2 (lazy)</a></li>
        <li><a routerLink="/test3" routerLinkActive="active">Test3 (lazy)</a></li>
        <li><a routerLink="/test4" routerLinkActive="active">Test4 (lazy)</a></li>
        <li><a routerLink="/test5" routerLinkActive="active">Test5 (lazy)</a></li>
        <li><a routerLink="/test1/test1a" routerLinkActive="active">Test1a (lazy)</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<router-outlet></router-outlet>
